/* You can add global styles to this file, and also import other style files */

fieldset {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 1rem;
}
legend {
	font-weight: 600;
	padding: 0 0.5rem;
	margin-left: -0.5rem;
}
code {
	display: block;
	color: red;
}
